body {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.content {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

fieldset {
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
}

fieldset:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.3);
}

fieldset:nth-child(2) {
  background-color: rgba(0, 255, 0, 0.3);
}

fieldset:nth-child(3) {
  background-color: rgba(0, 0, 255, 0.3);
}

label {
  display: inline-block;
  width: 120px;
}

input[type="range"] + input[type="text"] {
  width: 60px;
}

input[type="range"] {
  margin-right: 15px;
}

input[type="text"] {
  color: black;
}

#color {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
}
